<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css"
      xmlns="http://www.w3.org/1999/html">
<app-nav></app-nav>
<div class="container is-desktop" id="bcg" style="margin-top: 5%;">
  <div class="columns is-desktop">
    <div class="column">
      <figure>
        <img src="./assets/svihadlo.png"
             style="width: 180px;  height: 190px; border: 10px solid white; border-radius: 15px">
      </figure>
    </div>
    <div class="column">
      <div class="card" style="width: 100%; text-align: left">
        <header class="card-header">
          <p class="card-header-title">
            Yunmai Smart Rope
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            Yunmai Smart Rope je inteligentné švihadlo vybavené senzormi na meranie počtu skokov,
            rýchlosti a iných fyziologických funkcií, ako napríklad spálených kalórií, prevedených skokov a tepovej
            frekvencie.
            Dĺžka švihadla je 3m a jeho lano pozostáva z oceľového jadra a PU hadičky.
            Disponuje LED displejom a nabíjanie je zabezpečené prostredníctvom USB.
            Jednou z najvýraznejších vlastností Yunmai Smart Rope je jeho schopnosť synchronizovať sa s mobilnou
            aplikáciou,
            ktorá umožňuje používateľom sledovať ich pokrok a vytvárať tréningové plány.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="currentUser === 'e2FZnn962YZQW23c59eLTzlHPSl1'">
  <div *ngIf="isLoggedIn()" class="container is-desktop" style="margin-top: 3%; padding: 50px"
       id="scroll; border-collapse: collapse;">
    <div class="columns is-desktop">
      <div class="column">
        <div class="table-responsive-sm">
          <p class="title"> Yunmai </p>
          <div class="scrolling">
            <table class="table">
              <tr>
                <th class="text-center">Dátum</th>
                <th class="text-center">Skoky</th>
                <th class="text-center">Kalórie</th>
              </tr>

              <ng-container *ngFor='let i of (ropeActivitiesData$ | async)'>

                <tr>
                  <td>{{ i.date }}</td>
                  <td>{{ i.times }} </td>
                  <td>{{ i.kcal }}</td>
                </tr>

              </ng-container>

            </table>
          </div>
          <div class="col-md-4 text-right" style="margin-top: 2%">
            <button class="btn btn-outline-secondary mr-4" (click)="openPDF()">Download PDF</button>
          </div>
        </div>
      </div>
      <div class="column" style="position: relative; text-align: center; left: 15%">
        <div style="width:50%">
          <canvas id="myChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="currentUser === '5o6uneDu0KbLOWC2RSzIYSt9Aa43'">
  <div *ngIf="isLoggedIn()" class="container is-desktop" style="margin-top: 3%; padding: 50px"
       id="scroll; border-collapse: collapse;">
    <div class="columns is-desktop">
      <div class="column">
        <div class="table-responsive-sm">
          <p class="title"> Yunmai </p>
          <div class="scrolling">
            <table class="table">
              <tr>
                <th class="text-center">Dátum</th>
                <th class="text-center">Skoky</th>
                <th class="text-center">Kalórie</th>
              </tr>

              <ng-container *ngFor='let i of (ropeActivitiesData2$ | async)'>

                <tr>
                  <td>{{ i.date }}</td>
                  <td>{{ i.times }} </td>
                  <td>{{ i.kcal }}</td>
                </tr>

              </ng-container>

            </table>
          </div>
          <div class="col-md-4 text-right" style="margin-top: 2%">
            <button class="btn btn-outline-secondary mr-4" (click)="openPDF()">Download PDF</button>
          </div>
        </div>
      </div>
      <div class="column" style="position: relative; text-align: center; left: 15%">
        <div style="width:50%">
          <canvas id="myChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<app-footer></app-footer>
