<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
<app-nav></app-nav>
<div class="container is-desktop" id="bcg" style="margin-top: 5%;">
  <div class="columns is-desktop">
    <div class="column">
      <figure>
        <img src="./assets/barometer1.png" style="width: 180px;  height: 190px; border: 10px solid white; border-radius: 15px">
      </figure>
    </div>
    <div class="column">
      <div class="card" style="width: 100%; text-align: left">
        <header class="card-header">
          <p class="card-header-title">
            iHealth Push
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            iHealth Push (KD-723) je inteligentný monitor krvného tlaku vyvinutý spoločnosťou iHealth,
            ktorá sa špecializuje na produkty zdravotnej starostlivosti a wellness.
            iHealth Push (KD-723) je navrhnutý na meranie krvného tlaku a poskytuje ďalšie funkcie,
            ako sú nástroje na sledovanie a analýzu.
            Nosí sa na zápästí a pripája sa k smartfónu alebo inému zariadeniu cez Bluetooth alebo WiFi,
            čo mu umožňuje synchronizovať dáta a poskytovať ďalšie funkcie.

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="currentUser === 'e2FZnn962YZQW23c59eLTzlHPSl1'">
  <div *ngIf="isLoggedIn()" class="container is-desktop" style="margin-top: 3%; padding: 50px" id="scroll; border-collapse: collapse; " >
    <div class="columns is-desktop">
      <div class="column">
    <div class="table-responsive-sm">
      <p class="title">iHealth Push Data</p>
      <div class="scrolling" id="htmlData">


        <table class="table">

          <tr>
            <th  class="text-center">Dátum</th>
            <th class="text-center">Systolický</th>
            <th class="text-center">Diastolický</th>
          </tr>
<!--<ng-container *ngIf="currentUser === 'e2FZnn962YZQW23c59eLTzlHPSl1'">-->
          <ng-container *ngFor='let i of ((barometerPhysioData$ | async))'>
            <tr [ngStyle]="{'background-color': i.sys < 130 ? '#e7fdd7' : '#f9e6ad'}">
              <td>{{i.date}}</td>
              <td>{{i.sys}}</td>
              <td>{{i.dia}}</td>
            </tr>
          </ng-container>
<!--</ng-container>-->
<!--          <div *ngIf="currentUser === '5o6uneDu0KbLOWC2RSzIYSt9Aa43'">-->

<!--          </div>-->
        </table>
      </div>
      <div style="position: relative; text-align: left; padding-left: 0" >
        <ul class="legenda" style="padding-left: 1rem">
          <li style="color: green; padding-left: 0">Optimálny výsledok</li>
          <li style="color: orange">Priemerný výsledok</li>
          <li style="color: red">Pohoršený výsledok</li>
        </ul>
      </div>
      <div class="col-md-4 text-right" style="margin-top: 2%">
        <button class="btn btn-outline-secondary mr-4" (click)="openPDF()">Download PDF</button>
      </div>
      <!--    <div class="col-md-4 text-right">-->
      <!--      <button class="btn btn-success btn-block" (click)="fileDownloadCSV()">Download CSV</button>-->
      <!--    </div>-->
    </div>
  </div>
      <div class="column" style="position: relative; text-align: center; left: 15%" >
        <div style="width:50%" >
          <canvas id="myChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
</ng-container>





<ng-container *ngIf="currentUser === '5o6uneDu0KbLOWC2RSzIYSt9Aa43'">
  <div *ngIf="isLoggedIn()" class="container is-desktop" style="margin-top: 3%; padding: 50px" id="scroll; border-collapse: collapse; " >
    <div class="columns is-desktop">
      <div class="column">
        <div class="table-responsive-sm">
          <p class="title">iHealth Push Data</p>
          <div class="scrolling" id="htmlData">


            <table class="table">

              <tr>
                <th class="text-center">Dátum</th>
                <th class="text-center">Systolický</th>
                <th class="text-center">Diastolický</th>
              </tr>
              <!--<ng-container *ngIf="currentUser === 'e2FZnn962YZQW23c59eLTzlHPSl1'">-->
              <ng-container *ngFor='let i of ((barometerPhysioData2$ | async))'>
                <tr [ngStyle]="{'background-color': i.sys < 130 ? '#e7fdd7' : '#f9e6ad'}">
                  <td>{{i.date}}</td>
                  <td>{{i.sys}}</td>
                  <td>{{i.dia}}</td>
                </tr>
              </ng-container>
              <!--</ng-container>-->
              <!--          <div *ngIf="currentUser === '5o6uneDu0KbLOWC2RSzIYSt9Aa43'">-->

              <!--          </div>-->
            </table>
          </div>
          <div style="position: relative; text-align: left; padding-left: 0" >
            <ul class="legenda" style="padding-left: 1rem">
              <li style="color: green; padding-left: 0">Optimálny výsledok</li>
              <li style="color: orange">Priemerný výsledok</li>
              <li style="color: red">Pohoršený výsledok</li>
            </ul>
          </div>
          <div class="col-md-4 text-right" style="margin-top: 2%">
            <button class="btn btn-outline-secondary mr-4" (click)="openPDF()">Download PDF</button>
          </div>
          <!--    <div class="col-md-4 text-right">-->
          <!--      <button class="btn btn-success btn-block" (click)="fileDownloadCSV()">Download CSV</button>-->
          <!--    </div>-->
        </div>
      </div>
      <div class="column" style="position: relative; text-align: center; left: 15%" >
        <div style="width:50%" >
          <canvas id="myChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
</ng-container>



<ng-container *ngIf="isLoggedIn()">

    <div class="column">

  <h4 style="margin-top: 40px; font-style: italic">Žiadne namerané dáta pre tohto používateľa</h4>
    </div>

</ng-container>





<app-footer></app-footer>
<!--<div style="width: 20%">-->
<!--<canvas id="myChart" width="400" height="400"></canvas>-->
<!--</div>-->


