.table-responsive-sm{
  padding: 20px;
}

.table-left {
  width: 50%;
}

.table-right {
  width: 50%;
}

table {
  border-collapse: collapse;
  margin: 10px;
  text-align: center;
}

th, td{
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
tr{
  text-align: center;
}

th{
  text-align: center;
  background-color: #f2f2f2;
}

.scrolling{
  overflow-y: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.title{
  font-size: 16px;
  text-align: center;
  padding-top: 16px;
  margin-bottom: 0;
  /*background-color: rgba(180, 137, 180, 0.34);*/
}

.container{
  background-color: rgba(238, 231, 231, 0.85);
  position: relative;
  margin-left:auto;
  margin-right:auto;
  border-collapse: collapse;
  max-width: 100%;

}

.scrollContainer{
  overflow-y: auto;
  max-height: 400px;
  overflow-x: hidden;
}

.wrapper{
  position: relative;
  width: 100%;
}
