<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
<app-nav></app-nav>
<div class="container is-desktop" id="bcg" style="margin-top: 5%;">
  <div class="columns is-desktop">
    <div class="column">
      <figure>
        <img src="./assets/band1.png" style="width: 180px;  height: 190px; border: 10px solid white; border-radius: 15px">
      </figure>
    </div>
    <div class="column">
      <div class="card" style="width: 100%; text-align: left">
        <header class="card-header">
          <p class="card-header-title">
            FitBit Charge II
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            Fitbit Charge 2 je multifunkčný náramok, ktorý obsahuje akcelerometer a optický monitor srdcového tepu.
            Krokomer tohto náramku patril k jedným z najlepších na trhu.
            3-osový akcelerometer sleduje kroky, vzdialenosť, spálené kalórie,
            aktívne minúty a hodinovú aktivitu, ako aj trvanie a kvalitu spánku.
            Napriek tomu že Charge 2 nemá vo svojom názve HR ako jeho predchodca,
            zachováva si monitor srdcového tepu PurePuulse od HR,
            ktorý používateľom umožňuje sledovať intenzitu tréningu a spaľovanie kalórií.
            Výsledky z aktivít je potom možné vidieť prostredníctvom interaktívnych tabuliek a grafov v aplikácií Fitbit.


          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


<ng-container *ngIf="currentUser === 'e2FZnn962YZQW23c59eLTzlHPSl1'">
  <div *ngIf="isLoggedIn()" class="container is-desktop" style="margin-top: 3%; padding: 50px" id="scroll; border-collapse: collapse;" >
    <div class="columns is-desktop">
      <div class="column">
    <div class="table-responsive-sm">
    <p class="title"> FitBit Charge2 Data</p>
    <div class="scrolling">
      <table class="table">
        <tr>
          <th class="text-center">Dátum</th>
          <th class="text-center">Trvanie</th>
          <th class="text-center">Efektívnosť</th>
        </tr>

        <ng-container *ngFor='let i of (bandActivitiesData$ | async)?.["sleep"]'>

          <tr [ngStyle]="{'background-color': i['efficiency'] > 65 ? '#e7fdd7' : '#f9e6ad'}">
            <td>{{ i['dateOfSleep'] }}</td>
            <td>{{ ((i['duration']/1000)/3600) | number:'1.0-2'}} h </td>
            <td> {{ i['efficiency'] }} %</td>
          </tr>
        </ng-container>

      </table>
    </div>
    <div class="col-md-4 text-right" style="margin-top: 2%">
      <button class="btn btn-outline-secondary mr-4" (click)="openPDF()">Download PDF</button>
    </div>
  </div>
  </div>
      <div class="column" style="position: relative; text-align: center; left: 15%" >
        <div style="width:50%" >
          <canvas id="myChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="currentUser === '5o6uneDu0KbLOWC2RSzIYSt9Aa43'">
  <div *ngIf="isLoggedIn()" class="container is-desktop" style="margin-top: 3%; padding: 50px" id="scroll; border-collapse: collapse;" >
    <div class="columns is-desktop">
      <div class="column">
    <div class="table-responsive-sm">
      <p class="title"> FitBit Charge2 Data</p>
      <div class="scrolling">
        <table class="table">
          <tr>
            <th class="text-center">Dátum</th>
            <th class="text-center">Trvanie</th>
            <th class="text-center">Efektívnosť</th>
          </tr>

          <ng-container *ngFor='let i of (bandActivitiesData01$ | async)?.["sleep"]'>

            <tr>
              <td>{{ i['dateOfSleep'] }}</td>
              <td>{{ i['duration'] }} </td>
              <td> {{ i['efficiency'] }}</td>
            </tr>
          </ng-container>

        </table>
      </div>
      <div class="col-md-4 text-right" style="margin-top: 2%">
        <button class="btn btn-outline-secondary mr-4" (click)="openPDF()">Download PDF</button>
      </div>
    </div>
  </div>

<div class="column" style="position: relative; text-align: center; left: 15%" >
  <div style="width:50%" >
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
</div>
</div>
</div>
</ng-container>


<ng-container *ngIf="isLoggedIn()">

  <div class="column">

    <h4 style="margin-top: 40px; font-style: italic">Žiadne namerané dáta pre tohto používateľa</h4>
  </div>

</ng-container>


<app-footer></app-footer>
