<app-nav></app-nav>
<br>
<p class="title is-1" style="text-align: center">Inteligentné zariadenia</p>
<div class="container is-desktop" id="bcg">
  <div class="columns is-desktop">
    <div class="column hvr-wobble-top" routerLink="/SmartBarometerInfo" routerLinkActive="active">
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <img src="./assets/barometer2.png" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>iHealth</strong> <small>Smart Barometer</small>

              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
                </a>
                <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
                </a>
                <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
    </div>


    <div class="column hvr-wobble-top" routerLink="/SmartWatchInfo" routerLinkActive="active">
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <img src="./assets/watch2.png" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Fitbit Versa II</strong> <small>Smart Watch</small>

              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
                </a>
                <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
                </a>
                <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
    </div>


    <div class="column hvr-wobble-top" routerLink="/SmartBandInfo" routerLinkActive="active">
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <img src="./assets/band2.png" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Fitbit Charge II</strong> <small>Smart Band</small>

              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
                </a>
                <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
                </a>
                <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
    </div>
  </div>
<!--    /// Koniec prveho radu-->


<!--    ////ZACIATOK DRUHEHO RADU-->
    <div class="columns is-desktop">
      <div class="column hvr-wobble-top" routerLink="/SmartScaleInfo" routerLinkActive="active">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <img src="./assets/scale3.png" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Fitbit Aria Air</strong> <small>Smart Scale</small>

                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
                  </a>
                  <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
                  </a>
                  <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
                  </a>
                </div>
              </nav>
            </div>
          </article>
        </div>
      </div>
      <div class="column hvr-wobble-top"  routerLink="/SmartRopeInfo" routerLinkActive="active">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <img src="./assets/svihadlo.png" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Yunmai</strong> <small>Smart Rope</small>

                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
                  </a>
                  <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
                  </a>
                  <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
                  </a>
                </div>
              </nav>
            </div>
          </article>
        </div>
      </div>
      <div class="column hvr-wobble-top" style="">
        <div class="box">
          <article class="media">

          </article>
        </div>
      </div>

<!--      ///KONEC DRUHEHO RADU-->
  </div>
<!--///KONIEC KONTAJNERU-->

</div>
<br>
<br>
<hr>
<hr>
<br>
<app-footer></app-footer>
